[submodule "module/3rdparty/color-rg"]
	path = module/3rdparty/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "module/3rdparty/aweshell"]
	path = module/3rdparty/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "module/3rdparty/lsp-bridge"]
	path = module/3rdparty/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
